header, 
nav, 
footer {
    background-color: black;
    /* black background ^^ */
    color: white;
    /* white text so it's readable ^^ */
    text-align: center;
    /* centers text */
    width: 100%;
    /* ensures background stretches the screen */
}

nav a {
    color: gold;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: bold;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* different fonts */
    margin: 0;
    padding: 0;
}

main {
    background-color: #0f0808;
    background-image: url("https://www.transparenttextures.com/patterns/triangular.png");
    width: 100%;
    height: auto;
}

section {
    border: 1px #272EF5;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

ul {
    list-style-position: inside;
}

/* Project 1: Buttons */
button {
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

.btn-hover:hover {
    background: lightskyblue;
}

.btn-glow {
    background: purple;
    color: white;
    border-radius: 5px;
    transition: box-shadow 0.3s;
}

.btn-glow:hover {
    box-shadow: 0 0 10px purple;
}

/* Project 2: Photo Gallery */
.gallery {
    display: flex; /* Aligns images in a horizontal line */
    flex-wrap: wrap; /* Moves images to the next line if there isn't enough space */
    gap: 50px; /* Adds space between each image */
    justify-content: center;
}

.gallery img {
    width: 180px; /* Sets each image's width */
    height: 120px; /* Sets each image's height */
    object-fit: cover; /* Ensure the image filles the box without distortion */
    border-radius: 6px; /* Rounds the image corners slightly */
    transition: all 0.3s; /* Smoothly animates changes on hover */ 
}

/* Hover Effect 1: Rotate and Dropshadow */
.hover-one:hover {
    transform: rotate(360deg) scale(1.65); /* Rotates the image by 5 degrees and enlarges slightly */
    box-shadow: 0 8px 15px gray; /* Adds a soft shadow behind the image (when hovered) */
    opacity: 1; /* Keeps full opacity throughout transition */
}

/* Hover Effect 2: Grayscale to Color Fade */
.hover-two:hover {
    filter: grayscale(100%); /* Starts the image in black and white */
    transition: filter 0.4s, transform 0.3s; /*Smoothly animates both filter (gray) and movement */
    transform: scale(1.65); /* Slightly enlarges the image */
}

/* Hover Effect 3: Scale and Fade */
.hover-three:hover {
    transform: scale(1.65); /* Slightly enlarges image on hover */
    opacity: 0.5; /* Makes the image slightly transparent */
}




